[Unit]
Description=Simple Twitter Bot

[Service]
Type=forking
ExecStart=/opt/irc-topic-to-twitter-daemon/starbot.sh
Restart=on-abort

[Install]
WantedBy=multi-user.target

